.filters {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* input */
.filter-input {
  padding: 12px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  width: 100%;
}

/* групи */
.filter-group {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

/* кнопки */
.filter-group button {
  padding: 8px 14px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
  background: #fff;
  cursor: pointer;
  transition: 0.2s;
}

/* активна */
.filter-group button.active {
  background: #0b5ed7;
  color: #fff;
  border-color: #0b5ed7;
}

/* hover */
.filter-group button:hover {
  background: #0b5ed7;
  color: #fff;
}